body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(images/hacker.jpeg);
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    overflow: hidden;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 10px;
    float: left;
    clear: left;
}

.about, .hackathon, .contact {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-links {
    margin-top: 10px;
}

.contact-links a {
    margin: 0 10px;
}

h1, h2 {
    color: #333;
}
